body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1096px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:841px;
  height:42px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:30px;
  width:840px;
  height:41px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:67px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:531px;
  width:133px;
  height:66px;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:129px;
  word-wrap:break-word;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:730px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:210px;
  width:64px;
  height:730px;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:55px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:210px;
  width:113px;
  height:54px;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:109px;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:55px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:515px;
  width:113px;
  height:54px;
}
#u5_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:109px;
  word-wrap:break-word;
}
#u6_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:232px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:139px;
  width:27px;
  height:232px;
}
#u6_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:88px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:269px;
  width:70px;
  height:88px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:116px;
  width:100px;
  height:60px;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:216px;
  width:100px;
  height:60px;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:374px;
  top:319px;
  width:100px;
  height:60px;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:2px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:474px;
  top:146px;
  width:72px;
  height:1px;
  color:#0066CC;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:71px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:116px;
  width:119px;
  height:70px;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:115px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:71px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:278px;
  width:119px;
  height:70px;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:115px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:188px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:668px;
  top:227px;
  width:81px;
  height:188px;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:51px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:203px;
  width:162px;
  height:50px;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:158px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:51px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:288px;
  width:162px;
  height:50px;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:158px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:51px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:359px;
  width:162px;
  height:50px;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:158px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:51px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:202px;
  width:162px;
  height:50px;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:158px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:51px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:934px;
  top:288px;
  width:162px;
  height:50px;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:158px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:414px;
  width:100px;
  height:60px;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:232px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:434px;
  width:27px;
  height:232px;
}
#u21_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:515px;
  width:100px;
  height:60px;
}
#u22_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:615px;
  width:100px;
  height:60px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:187px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:479px;
  width:63px;
  height:187px;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:71px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:453px;
  width:119px;
  height:70px;
}
#u25_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:115px;
  word-wrap:break-word;
}
#u26_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:71px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:657px;
  width:119px;
  height:70px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:115px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:163px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:434px;
  width:63px;
  height:163px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:51px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:434px;
  width:162px;
  height:50px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:158px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:51px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:749px;
  top:501px;
  width:162px;
  height:50px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:158px;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:51px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:561px;
  width:162px;
  height:50px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:158px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:163px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:674px;
  top:631px;
  width:63px;
  height:163px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:51px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:631px;
  width:162px;
  height:50px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:158px;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:51px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:691px;
  width:162px;
  height:50px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:158px;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:51px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:751px;
  width:162px;
  height:50px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:9px;
  width:158px;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:55px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:234px;
  top:896px;
  width:113px;
  height:54px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:109px;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:2px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:926px;
  width:55px;
  height:1px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:893px;
  width:100px;
  height:60px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:2px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:502px;
  top:923px;
  width:55px;
  height:1px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:71px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:889px;
  width:119px;
  height:70px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:115px;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:163px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:851px;
  width:63px;
  height:163px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:51px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:829px;
  width:162px;
  height:50px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:158px;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:51px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:898px;
  width:162px;
  height:50px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:158px;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:51px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:970px;
  width:162px;
  height:50px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:158px;
  word-wrap:break-word;
}
